:root {
  --background: #0d1117;
  --text: white;
  --button: #1877f2;
}

body {
  background-color: var(--background);
  transition: 1s all;
}
* {
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.changeColorText {
  color: var(--background) !important;
  transition: 1s all ease;
}
.changeBackground {
  background-color: var(--text) !important;
  transition: 1s all ease;
}
.changeShadowActiveMenu {
  box-shadow: 0.5px 0.5px 10px 1px var(--background) !important;
  transition: 1s all ease;
}
nav {
  background-color: var(--background);
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid grey;

  padding-top: 1rem;
}

.ham-men {
  width: 5rem;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.4rem;
}
.close-btn-ham {
  font-size: 2rem;
  color: white !important;
  font-weight: 200;
  display: none;
}

/*Span degli Hamburger Menu*/
.ham-men span {
  width: 1.5rem;
  height: 0.1rem;
  border: 1px solid white;
}
.container-logo {
  height: 8rem;
  width: 11rem;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#logo {
  transform: scale(1.3); /* Zoom 120% */
}
.container-btn-light {
  width: 4rem;
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-light {
  width: 3.5rem;
  height: 2rem;
  border: 1px solid white;
  border-radius: 2rem;
  overflow: hidden;
  position: relative;
}
.light {
  width: 1.9rem;
  height: 1.9rem;
  border-radius: 50%;
  background-color: white;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  transition: 0.8s ease;
}
.light-active {
  left: calc(100% - 1.9rem); /* sposta a destra */
}
#btnImage {
  width: 80%;
}
header {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.menu {
  width: 65%;
  height: calc(100vh - 5rem);
  position: absolute;
  right: 110%;
  box-shadow: inset 0.5px 0.5px 10px 1px white;
  display: flex;
  justify-content: start;
  padding-top: 4rem;
  color: var(--text);
  align-items: start;
  flex-direction: column;
  gap: 3rem;
  text-align: start;
  transition: 0.4s ease;
}

.active-ham-men {
  right: 35%;
  transition: 0.4s ease;
}
.menu p {
  padding-left: 2rem;
  transition: 1s all;
}
.container-social-menu {
  width: 100%;
  height: 7rem;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-social-menu a {
  color: #333;
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s;
}

.container-social-menu a:hover {
  color: #0077b5; /* ad esempio colore blu LinkedIn */
}
