:root {
  --background: #0d1117;
  --text: white;
  --button: #1877f2;
}

body,
nav,
.menu {
  background-color: var(--background);
}
* {
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.changeColorText,
.changeBackground,
.changeShadowActiveMenu,
.menu p,
body,
header,
main,
h3 {
  transition: 1s all ease;
}
.changeColorText {
  color: var(--background) !important;
}
.changeBackground {
  background-color: var(--text) !important;
}
.changeShadowActiveMenu {
  box-shadow: 0.5px 0.5px 10px 1px var(--background) !important;
}
nav {
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid grey;
  overflow-y: hidden;
  padding-top: 1rem;
}
.ham-men,
.container-logo,
.container-btn-light,
.light,
.container-social-menu,
header,
.container-memoji,
.container-card-service,
.card-servizi,
.progetti,
.card-progetti,
.container-title-card-progetti {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ham-men {
  width: 5rem;
  height: 100%;

  flex-direction: column;
  gap: 0.4rem;
}
.close-btn-ham {
  font-size: 2rem;
  color: white !important;
  font-weight: 200;
  display: none;
}

/*Span degli Hamburger Menu*/
.ham-men span {
  width: 1.5rem;
  height: 0.1rem;
  border: 1px solid white;
}
.container-logo {
  height: 8rem;
  width: 11rem;

  overflow: hidden;
}

#logo {
  transform: scale(1.3); /* Zoom 120% */
}
.container-btn-light {
  width: 4rem;
  height: auto;
}

.btn-light {
  width: 3.5rem;
  height: 2rem;
  border: 1px solid white;
  border-radius: 2rem;
  overflow: hidden;
  position: relative;
}
.light {
  width: 1.9rem;
  height: 1.9rem;
  border-radius: 50%;
  background-color: white;
  box-sizing: border-box;

  position: absolute;
  left: 0;
  transition: 0.8s ease;
}
.light-active {
  left: calc(100% - 1.9rem); /* sposta a destra */
}
#btnImage {
  width: 80%;
}
header {
  width: 100vw;
  height: 80vh;
  position: relative;
  flex-direction: column;
  justify-content: space-evenly;
}
.menu {
  width: 65%;
  height: calc(100vh - 7rem);
  position: absolute;
  right: 110%;
  box-shadow: inset 0.5px 0.5px 10px 1px white;
  display: flex;
  justify-content: start;
  padding-top: 4rem;
  color: var(--text);
  align-items: start;
  flex-direction: column;
  gap: 2.6rem;
  text-align: start;
  transition: 0.4s ease;
  top: 0;
  z-index: 999;
}

.active-ham-men {
  right: 35%;
  transition: 0.4s ease;
  overflow-y: scroll;
}
.menu p {
  padding-left: 2rem;
  overflow: hidden;
  font-size: 1.1rem;
}
.container-social-menu {
  width: 100%;
  height: 7rem;
  background-color: grey;
}
.container-social-menu a {
  color: #333;
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s;
}

.container-social-menu a:hover {
  color: #0077b5; /* ad esempio colore blu LinkedIn */
}
.containerH1 {
  position: relative;
  background-image: url("Progetto\ senza\ titolo.gif");
  background-size: cover;
  background-position: center;
  height: 60%;
  width: 90%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  overflow: hidden;
  border-radius: 2rem;
  margin-top: -2rem;
}

.containerH1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8); /* oscuramento qui */
  z-index: 1;
}
.visually-hidden {
  position: absolute;
  left: -9999px;
}
h2 {
  position: relative; /* Necessario per posizionare sopra l'overlay */
  z-index: 2; /* Porta H1 sopra l'overlay */
  color: white; /* Assicura che il colore sia bianco */
  font-size: 2.8rem;
  font-weight: 500;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8); /* Ombra più pronunciata per leggibilità */
  line-height: 2; /* Leggermente aumentato per evitare compressione */
  margin-bottom: 0.5rem; /* Aggiunto un piccolo margine inferiore per separare da H2 */
  width: 100%;

  padding: 1rem;
  margin: 0 auto;

  text-align: center;
}
.btnHeader {
  position: relative; /* Necessario per posizionare sopra l'overlay */
  z-index: 2; /* Porta il bottone sopra l'overlay */
  width: 18rem;
  height: 5rem;
  border-radius: 1rem;
  box-shadow: 0 13px 25px rgba(24, 119, 242, 0.4), 0 2px 4px rgba(0, 0, 0, 0.4); /* combinazione blu + ombra scura */
  color: rgb(230, 230, 230);
  font-size: 1rem;
  font-weight: 400;
  background-color: #1877f2;
  border: none;
  margin-top: -2rem;

  transition: 0.3s ease-in-out; /* Transizione più fluida */
  /* Ho rimosso margin-left: 20rem; in quanto 'align-items: center' in header lo centra */
}

.skill {
  height: auto;
  width: 100%;
  padding: 2rem 0;
}

h3 {
  color: white;
  font-weight: 400;
  font-size: 1.8rem;
  text-align: center;
  font-weight: 600;
}

.container-linguaggi {
  width: 90%;
  height: auto;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin: 3rem auto;
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.container-linguaggi img:nth-of-type(1),
.container-linguaggi img:nth-of-type(5) {
  width: 3rem;
}
.container-linguaggi img:nth-of-type(2) {
  width: 2rem;
}
.container-linguaggi img:nth-of-type(3) {
  width: 3.5rem;
}
.container-linguaggi img:nth-of-type(4) {
  width: 3rem;
}

.container-memoji {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.container-memoji img {
  width: 15rem;
}
.skill button {
  width: 15rem;
  height: 4rem;
  border-radius: 1rem;
  box-shadow: 0 13px 25px rgba(24, 119, 242, 0.4), 0 2px 4px rgba(0, 0, 0, 0.4); /* combinazione blu + ombra scura */
  color: rgb(230, 230, 230);
  font-size: 1rem;
  font-weight: 400;
  background-color: #1877f2;
  border: none;
  transition: 0.3s ease-in-out; /* Transizione più fluida */
  /* Ho rimosso margin-left: 20rem; in quanto 'align-items: center' in header lo centra */
  position: relative;
  left: 4rem;
}

.service {
  padding-top: 2.2rem;
}
.service h3 {
  font-size: 2.2rem;
}
.container-card-service {
  padding-top: 3rem;
  width: 100%;
  height: auto;
  flex-direction: column;
  gap: 3rem;
}

.card-servizi {
  width: 90%;
  height: auto;
  border: none;
  background-color: #161b22;
  margin: 0 auto;
  border-radius: 2.5rem;
  flex-direction: column;
  padding: 2rem;
  border: 1px solid #388bfd;
}
.service h4 {
  font-size: 1.8rem;
  color: rgb(230, 230, 230);
  text-align: center;
  margin-bottom: 2rem;
}
.service p,
.progetti p {
  font-size: 1rem;
  color: rgb(230, 230, 230) !important;
  text-align: center;
  line-height: 1.8;
}

.banner {
  margin-top: 3rem;
  width: 100%;
  height: auto;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  position: relative;
}
.banner h4 {
  font-size: 1.2rem;
  width: 100%;
  background-color: #181818;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: rgb(230, 230, 230);
  text-align: center;
  line-height: 1.5;
}
.banner img {
  position: absolute;
  width: 3rem;
  right: 2rem;
  bottom: 4.1rem;
}
.progetti {
  width: 100%;
  height: auto;
  padding-top: 2rem;
  justify-content: space-around;
  flex-direction: column;
  gap: 4rem;
}

.card-progetti {
  border: 1px solid #388bfd;

  border-radius: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  width: 90%;
  height: auto;

  justify-content: space-around;
  flex-direction: column;

  color: rgb(230, 230, 230);
  background-color: #161b22;
}

.container-title-card-progetti {
  width: 100%;
  flex-direction: row;

  margin-bottom: 2rem;
  gap: 2rem;
}
.container-title-card-progetti h4 {
  font-size: 1.8rem;
  font-weight: 400;
}
.container-title-card-progetti img {
  width: 3rem !important;
  margin: 0 !important;
}

.card-progetti img {
  width: 90%;
  border-radius: 2rem;
  margin-bottom: 2rem;
}
.card-progetti p:nth-of-type(2) {
  padding: 1rem;
  text-decoration: underline #388bfd;
  font-size: 1.4rem;
}
.progetti button {
  width: 19rem;
  height: 6rem;
  border-radius: 1rem;
  box-shadow: 0 13px 25px rgba(24, 119, 242, 0.4), 0 2px 4px rgba(0, 0, 0, 0.4); /* combinazione blu + ombra scura */
  color: rgb(230, 230, 230);
  font-size: 1rem;
  font-weight: 400;
  background-color: #1877f2;
  border: none;
}
